a {
  color: #007acc;
  text-decoration: underline;
}

a:hover {
  color: #005f99;
  text-decoration: none;
}

div.profile-mode a {
  color: #007acc !important;
  text-decoration: underline !important;
}
